<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/slide1.jpeg' %}" height="450px" width="100%"    class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WELCOME TO AZURESANDS</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/slide 2.webp' %}" height="450px" width="100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>ENJOY THE BEAUTY OF AZURESANDS !!</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slide 3.jpeg' %}" height="450px" width="100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>HOMELY FEELING...</h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--cards-->

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <img src="{% static 'images/roomm1.jpg' %}" height="250px" width="100%">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <img src="{% static 'images/room2.jpg' %}" height="250px" width="100%">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>

<!--<div class="card mb-3">-->
<!--  <img src="{% static 'images/roomm1.jpg' %}" height="300px" width="100%" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Luxiary Room</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Room with Pool</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--  <img src="{% static 'images/room2.jpg' %}" class="card-img-bottom" alt="...">-->
<!--</div>-->

<!--<div class="card mb-3">-->
<!--  <img src="{% static 'images/roomm1.jpg' %}" height="300px" width="100%" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Luxiary Room</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Room with Pool</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--  <img src="{% static 'images/room2.jpg' %}" class="card-img-bottom" alt="...">-->
<!--</div>-->

<!--<div class="card mb-3">-->
<!--  <img src="{% static 'images/roomm1.jpg' %}" height="300px" width="100%" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Luxiary Room</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Room with Pool</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--  <img src="{% static 'images/room2.jpg' %}" class="card-img-bottom" alt="...">-->
<!--</div>-->

<!--<div class="card mb-3">-->
<!--  <img src="{% static 'images/roomm1.jpg' %}" height="300px" width="100%" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Luxiary Room</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Room with Pool</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--  </div>-->
<!--  <img src="{% static 'images/room2.jpg' %}" class="card-img-bottom" alt="...">-->
<!--</div>-->

<!--<div class="container-fluid mt-3" style="margin-bottom:100px;">-->
<!--    <img src="{% static 'images/background.jpeg' %}" height="450px" width="100%">-->















{% endblock %}





